<h1 class="mb-1 restaurant-show-title">{{restaurant.name_en}}</h1>
<div class="container">
  <div class="row">
    <div class="col-4 col-md-5 offset-1 mr-3">
      <h2 class="mb1 font-weight-bold">{{restaurant.name}}</h2>
      <p class="mb-5">
        {{restaurant.description}}
      </p>
      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
        </span>
        &ensp;{{restaurant.category}}
      </p>
      <p class="mb-1">
        <a href="{{restaurant.google_map}}" class="text-secondary text-decoration-none" target="_blank">
        <i class="fas fa-location-arrow pr-2 fa-1x"></i>&ensp;{{restaurant.location}}
        </a>
      </p>
      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-phone"></i>
        </span>
        &ensp;{{restaurant.phone}}
      </p>
    </div>
    <div class="col-8 col-md-6 mb-5">
      <img class="rounded pb-4 ml-3"
        src="{{restaurant.image}}" alt="{{restaurant.name_en}}"
        style="max-width: 500px;">
    </div>


  </div>
</div>